<div class="left-side">
  <div class="text-header__div">
    <h2 class="text-header__travelline">TRAVELLINE</h2>
    <p class="text-header__reportBuilder">ReportBuilder</p>
  </div>

  <div class="header"></div>

  <div class="small-header__div">
    <h1 class="text-year__size">Год для поиска</h1>
    <input class="year-size__input" MatInput type="number" [(ngModel)]="ReportsPageViewModel.year" ngModel maxlength="4">
  </div>

  <div class="upper-indent"></div>
  <div class="small-header__div">
    <h1 class="text-providerType__size">Типы размещения</h1>
    <button mat-button 
    (click)="ReportsPageViewModel.SelectAllCheckboxProviders(ReportsPageViewModel.checkboxProviders)" 
    class="right-size">выбрать всё</button>
  </div>

  <div class="checkbox__div" *ngFor="let item of ReportsPageViewModel.checkboxProviders">
    <label class="check option">
      <input MatInput class="check__input" type="checkbox" [(ngModel)]="item.checked">
        <span class="check__box" [class.active]="item.checked"></span>
          <p>{{item.label}}</p>
    </label>
  </div>

  <div class="upper-indent"></div>
  <div class="small-header__div">
    <h1 class="text-providerType__size">Метрики</h1>
    <button mat-button 
    (click)="ReportsPageViewModel.SelectAllCheckboxMetrics(ReportsPageViewModel.checkboxMetrics)" 
    class="right-size">выбрать всё</button>
  </div>

  <div class="checkbox__div" *ngFor="let item of ReportsPageViewModel.checkboxMetrics">
    <label class="check option">
      <input MatInput class="check__input" type="checkbox" [(ngModel)]="item.checked">
        <span class="check__box" [class.active]="item.checked"></span>
          {{item.label}}
    </label>
  </div>

  <div class="small-header__div">
    <button class="bottom__button" mat-button (click)="ReportsPageViewModel.ShowChart()">Обновить</button>
  </div>
</div>

<app-chart></app-chart>